.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    overflow: auto;
     background-color: #14b1bb;
    box-shadow: inset -10px 0 10px -10px rgba(0,0,0,0.3);
    z-index: 1;
   

}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    line-height: 1.71;
}

.drowdown .active a:active {
    color:#14b1bb;
}
.dropdown .dropdown-content  a:hover {     
    background-color: #2a2a2a;
}

.show {display:block;}